<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
</head>
<body>

    <label>Username:</label>
    <input type="text" name="username" >

    <label>Password:</label>
    <input type="password" name="password">

    <input type="submit" id="loginBtn" class="btn btn-success" value="Login">
</body>
</html>